.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn {
    border: 3px solid palevioletred;
    padding: 10px 10px;
    width: 250px;
    background-color: rgba(247, 103, 247, 0.637);
    color: rgb(19, 1, 4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 50px;
    cursor: pointer;
}  
.btn:hover {
    box-shadow: 0 0 50px rgba(247, 103, 247, 0.637);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.caja {
    width: 300px;
    height: 400px;
    border: 2px solid blue;
    text-align: center;
    cursor: pointer;
    text-shadow: 5px;
    box-shadow: 10px 5px 0 1px rgb(89, 156, 211);
}
