.product-card { 
    margin: 12rem 3rem;
    padding: 3rem;
    width: 300px; 
    height: 100px; 
    display: flex;
    align-items: center;
    animation-name: move; 
    animation-duration: 3s; 
    animation-delay: 1s;     
} 

@keyframes move { 
    0% { 
        opacity: 0.2;
    } 
    50% { 
        opacity: 0.8;
        transform: scale(1.4); 
    } 
    100% { 
        opacity: 1;
    }   
}

.product-img {
    flex: 1 1 300px;
    height: 250px;
}


.product-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    flex: 2 1 300px;
    background-color: rgba(158, 219, 228, 0.6);
    padding: 3rem;
    border-radius: 6px;
    line-height: 1.8rem;
}