h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 1rem;
}
.rotar {
    animation: move;
    animation-duration: 1.5s;
    animation-delay: 1s;
}

@keyframes move {
    0% {
        transform: scale(1) rotate(0);
    }
    50% {
        transform: scale(.5) rotate(180deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}